.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position:relative;
}
.navbar button {
    border: 3px dotted transparent;
    font-size: clamp(1rem,4.5vmin,3rem);
    padding: 0.250rem 0.400rem;
}
.navbar button:hover {
    transition: ease-in 400ms;
    border-color:#222121;
}