.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navbar p{
    border: 3px dotted #D9D9D9;
    font-size: clamp(1rem,4vmin,3rem);
    padding: 0.250rem 0.400rem;
}
.navbar p:hover{
    transition: ease-in 400ms;
    border-color:#222121;
}